* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  color: white;
}

.wrapper {
  max-width: 1200px;
}

header {
  background-image: linear-gradient(#2A2828, #767676);
}

header img {
  width: 64px;
  margin: 10px 0 0 10px;
}

header p {
  display: inline;
  position: relative;
  font-weight: bold;
  bottom: 29px;
}

.wrapper-nav {
  display: flex;
  justify-content: space-between;
  margin: auto;
}

ul {
  display: flex;
}

li {
  list-style: none;
  padding: 1em;
  font-size: 14px;
}

li a {
  text-decoration: none;
  color: white;
}

@media only screen and (min-width: 636px) {
  .menu {
    display: none;
  }
}

@media only screen and (max-width: 635px) {
  header ul {
    display: none;
  }
  .menu {
    cursor: pointer;
    position: absolute;
    right: 20px;
    padding: 0.5em 1em 0 0;
  }
}

.menu-click header {
  height: 16em;
  transition: height 2s;
}

.menu-click ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5em;
  margin-right: auto;
}

#landing {
  background: url("./images/landing-bg.jpg") center center no-repeat;
  background-size: cover;
  height: 100vh;
  min-height: 300px;
  padding-top: 50px;
}

.wrapper-landing {
  margin: auto;
  padding-left: 20px;
  text-align: center;
  width: 20em;
  line-height: 3em;
  padding-top: 25px;
}

.wrapper-landing h1 {
  font-size: 35px;
}

.landing {
  margin: auto;
}

.btn {
  font-family: "Poppins", sans-serif;
  margin: 25px 10px 25px 0;
  text-align: center;
  padding: 10px;
  font-size: 20px;
  border: 1px solid;
  border-radius: 15px;
  cursor: pointer;
}

.apple {
  margin-bottom: 50px;
  background-color: black;
  color: white;
  border-color: red;
}

.apple:hover {
  background-color: #6D0000;
}

.play {
  background-color: white;
}

.play:hover {
  background-color: #FFA0A0;
}

@media only screen and (min-width: 636px) {
  .wrapper-landing {
    width: 30em;
  }
  .wrapper-landing h1 {
    font-size: 40px;
  }
  .btn {
    margin-top: 100px;
    font-size: 25px;
  }
}

@media only screen and (min-width: 1025px) {
  .wrapper-landing {
    margin-left: 20px;
  }
  .wrapper-landing h1 {
    font-size: 50px;
    line-height: 1.2em;
    text-align: left;
  }
  .wrapper-landing .apple {
    margin-left: -80px;
  }
}
